<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
         <menuitem name="School Apps"
                  id="Demo-My-School.school_menu_root"/>

        <menuitem name="Student"
                  id="Demo-My-School.student_list"
                  parent="Demo-My-School.school_menu_root"
                  action="open_view_student_tree"/>

        <menuitem name="Teacher"
                  id="Demo-My-School.teacher_list"
                  parent="Demo-My-School.school_menu_root"
                  action="open_view_teacher_tree"/>

        <menuitem name="Section"
                  id="Demo-My-School.section_list"
                  parent="Demo-My-School.school_menu_root"
                  action="open_view_section_tree"/>
        <menuitem name="Course"
                  id="Demo-My-School.course_list"
                  parent="Demo-My-School.school_menu_root"
                  action="open_view_course_tree"/>
        <menuitem name="Registration"
                  id="Demo-My-School.registration_list"
                  parent="Demo-My-School.school_menu_root"
                  action="open_view_registration_tree"/>

    </data>
</odoo>